
.navbar-form {
	
	.form-control {
		height: 60px;
	}
}
// forms
.search-form {
	height: 50px;
	padding: 0 100px 0 0;
	position: relative;
	margin: 0 0 15px;
	
	@include media('>=tablet') {
		height: 60px;
		padding: 0 130px 0 0;
	}
	@include media('>=desktop') {
		width: 400px;
		padding: 0 100px 0 0;
		margin: 0 0 16px 10px;
		float: right;
	}
	@include media('>=widescreen') {
		width: 610px;
		padding: 0 130px 0 0;
	}
	.form-control {
		height: 50px;
		padding-top: 16px;
		padding-bottom: 10px;
		font-size: 18px;
		line-height: 22px;
		font-weight: 300;
		
		@include media('>=desktop') {
			height: 60px;
			padding-top: 18px;
			padding-bottom: 12px;
			font-size: 24px;
			line-height: 28px;
		}
	}
	.btn.btn-sm {
		min-width: inherit;
		width: 90px;
		font-size: 18px;
		line-height: 22px;
		padding: 14px 10px 8px;
		position: absolute;
		top: 0;
		right: 0;
		
		@include media('>=tablet') {
			width: 120px;
		}
		@include media('>=desktop') {
			width: 90px;
			font-size: 21px;
			line-height: 24px;
			padding: 17px 10px 9px;
		}
		@include media('>=widescreen') {
			width: 120px;
		}
	}
}
.quotes-form {
	padding: 6px 0 20px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 22px;
	
	@include media('>=tablet') {
		max-width: 500px;
		padding: 6px 10px 72px;
		font-size: 21px;
		line-height: 25px;
	}
	@include media('>=desktop') {
		max-width: 620px;
	}
	.row {
		margin-left: -10px;
		margin-right: -10px;
		
		[class*="col-"] {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.block {
		padding: 20px 0 10px;
		
		position: relative;
		@include media('>=tablet') {
			padding: 35px 0 15px;
		}
		+ .block {
			
			&:before {
				height: 1px;
				@include pseudo-elements(0,0,auto);
				background: $gray;
				opacity: 0.5;
			}
		}
	}
	label,
	.label {
		display: block;
		font-size: 15px;
		line-height: 17px;
		font-weight: normal;
		text-transform: uppercase;
		color: inherit;
		text-align: left;
		margin: 0;
		padding: 0;
		border-radius: 0;
	}
	.input-error {
		label,
		.label {
			color: $red;
		}
	}
	.input-disabled {
		label,
		.label {
			opacity: 0.5;
		}
	}
	.help-block {
		font-size: 18px;
		line-height: 22px;
		
		@include media('>=tablet') {
			width: 100px;
			font-size: 21px;
			line-height: 22px;
			position: absolute;
			top: 28px;
			left: 100%;
			margin: 0 0 0 10px;
		}
		@include media('>=desktop') {
			width: 160px;
			font-size: 24px;
			line-height: 29px;
			top: 41px;
			margin: 0 0 0 20px;
		}
	}
	.selects {
		
		ul {
			margin: 0;
			letter-spacing: -0.32em;
			
			li {
				width: 50%;
				@include inline(top);
				letter-spacing: normal;
				
				@include media('>=tablet') {
					width: 33.333%;
				}
				+ li {
					width: calc(50% + 1px);
					margin: 0 0 0 -1px;
					
					@include media('>=tablet') {
						width: calc(33.333% + 1px);
					}
				}
			}
		}
		&.dob {
			ul {
				li {
					width: 33.333%;
					
					+ li {
						width: calc(33.333% + 1px);
					}
				}
			}
		}
	}
	&.step3 {
		@include media('>=tablet') {
			padding-bottom: 65px;
		}
		.custom-radio {
			@include media('>=desktop') {
				padding: 18px 0 0;
				margin: 0 0 36px;
			}
			p {
				margin: 0 0 7px;
			}
		}
	}
	.custom-radio {
		letter-spacing: -0.01px;
		
		p {
			margin: 0;
		}
		ul {
			margin: 0;
			letter-spacing: -0.32em;
			padding: 10px 0 0;
			
			@include media('>=tablet') {
				padding: 20px 0 0;
			}
			li {
				@include inline(top);
				letter-spacing: normal;
				margin: 0 20px 0 10px;
			}
		}
		input[type=radio] {
			display: none;
			
			&:checked ~ label:before {
				background: $cyan;
			}
		}
		label {
			min-width: 67px;
			font-size: 21px;
			line-height: 25px;
			position: relative;
			padding: 0 0 0 28px;
			cursor: pointer;
			text-transform: capitalize;
			
			&:before {
				@include size(20px);
				@include pseudo-elements(-1px,auto,auto,0);
				border-radius: 100%;
				background: $white;
				border: 1px solid $gray;
				box-shadow: inset 0 0 0 2px $white;
			}
		}
	}
	.two-fields {
		margin-left: -15px;
		margin-right: -15px;
		overflow: hidden;
		
		@include media('>=desktop') {
			margin-left: -20px;
			margin-right: -20px;
			margin-bottom: 17px;
			
			[class*="col-"] {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
		label {
			font-size: inherit;
			line-height: inherit;
			text-transform: none;
			margin: 0 0 4px;
		}
	}
	p {
		margin: 0 0 5px;
	}
	.btn {
		width: 100%;
		display: block;
		margin: 0 0 20px;
		
		@include media('>=tablet') {
			margin: 0 0 45px;
		}
		.caret {
			@include inline(middle);
			@include triangle(16px, $white, right);
			border-left-width: 10px;
			margin: 1px 0 0 3px;
			
			@include media('>=tablet') {
				border-width: 9px 0 9px 14px;
				margin: 4px 0 0 5px;
			}
			@include media('>=desktop') {
				margin: 0 0 0 8px;
				border-width: 12px 0 12px 18px;
				position: relative;
				top: -3px;
			}
		}
	}
	.call-us {
		display: block;
		text-align: center;
		font-size: 25px;
		line-height: 30px;
		
		@include media('>=tablet') {
			font-size: 30px;
			line-height: 36px;
		}
		a {
			font-weight: 600;
			color: $gray;
			
			&:hover {
				color: $cyan;
			}
		}
	}
}








